<!DOCTYPE html>
<html>
    <head>
        <title>React Tutorial</title>
    </head>
    <body>
        <h1>Hello!</h1>
        <section id="app">
            <%- markup %>
        </section>
        <script src="build.js"></script>
    </body>
</html>